.survey-page
{
    height: max-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.survey-page-title
{
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    margin-top: 1rem;
    text-align: center;
    color: #ffab73;
}

.survey-page-diet-section
{
    height: 40%;
    width: 90%;
    padding: 1rem 2rem 2rem 2rem;
    border: 2px dashed black;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.survey-page-diet-section > h2
{
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #ffab73;
    border-bottom: 2px dashed black;
}

.survey-page-diet-choices
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-size: large;
}

.survey-page-diet-choices > span
{
    min-width: 10rem;
    margin-bottom: .5rem;
}

.survey-page-intolerances-section > h2
{
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffab73;
    border-bottom: 2px dashed black;
}

.survey-page-intolerances-choices
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-size: large;
}

.survey-page-intolerances-choices > span
{
    min-width: 10rem;
    margin-bottom: .5rem;
}

.survey-page-intolerances-section
{
    height: 40%;
    width: 90%;
    padding: 1rem 2rem 2rem 2rem;
    border: 2px dashed black;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.survey-page .save-button
{
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 2rem;
}