@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.welcome {
  font-family: Sacramento;
  display: inline;
}

html {
   background-color: whitesmoke; 
}

.form h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: orange;
    text-align: left;
  }

  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }

  .form-container {
    display: flex;
    flex-direction: 'row';
  }

  .form-content-left {
    width: 100%;
  }

  .form-content-right {
    width: 55%;
    padding-top: 10rem;
    padding-left: 4rem;
  }

  #nickname, #email, #password {
    border-radius: 10rem;
    border-color: orange;
    padding: 0.5rem;
    width: 8rem;
  } 

  .form-input-btn {
    margin-left: 3.5rem;
  }
  
  @media only screen and (min-width: 750px) {
    .form-content-right {
      width: 60%;
      padding-top: 10rem;
      padding-left: 10rem;
    }

    .form h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      color: orange;
      text-align: left;
    }

    #nickname, #email, #password {
      border-radius: 10rem;
      border-color: orange;
      padding: 0.5rem;
      width: 14rem;
    }

    .form-input-btn {
      margin-left: 6rem;
    }
  }

  .form-img {
    width: 60%;
    height: 100%;
    position: absolute;
  }

  .form-inputs {
    padding: 1rem;
  }
