@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.form-content-right {
  /* width: 55%;
  padding-top: 10rem;
  padding-left: 4rem; */

  /* border: 1px #ccc solid; */
  padding-left: 6rem;
  padding-top: 8rem;


  flex:1;
  order:2;
}

@media screen and (min-width:750px) {
  
  .form-container {
    display: flex;
  }
  
}

@media screen and (max-width:750px) {
  
  .form-content-right {
    /* width: 55%;
    padding-top: 10rem;
    padding-left: 4rem; */

    /* border: 1px #ccc solid; */
    

    padding-top: 1rem;
    padding-left:0px;
    margin:auto;
    width: 50%;
    

    flex:1;
    order:2;
  }

  /* .form {
    margin:0 auto;
    width: 50%;
  } */
  
}

.form-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.welcome {
  font-family: Sacramento;
  display: inline;
}

html {
   background-color: whitesmoke; 
}

.form h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: orange;
    text-align: left;
  }

  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }

  /* .form-container {
    display: flex;
    flex-direction: 'row';
  } */
  

  .form-content-left {
    /* border: 1px #ccc solid; */
   
    flex:2.25;
    order:1;
  }

  

  /* #nickname, #email, #password {
    border-radius: 10rem;
    border-color: orange;
    padding: 0.5rem;
    width: 8rem;
  } 

  .form-input-btn {
    margin-left: 3.5rem;
  } */
  
  /* @media only screen and (min-width: 750px) { */

    /* .form-content-right {
      width: 60%;
      padding-top: 10rem;
      padding-left: 10rem;
    } */

    .form h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      color: orange;
      text-align: left;
    }

    #nickname, #email, #password {
      border-radius: 10rem;
      border-color: orange;
      padding: 0.5rem;
      width: 14rem;
    }

    .forminputbtn {
      margin-left: 4rem;
      background-color:coral !important;
    }

  /* } */

  

  .form-inputs {
    padding: 1rem;
  }
