.profile-page
{
    height: 80%;
    width: 100%;
    position: relative;
}

.profile-container
{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100%;
}

.top_row
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.greeting
{
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    margin-left: 5rem;
    font-family: "Sacramento", cursive;
    color: #ffab73;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.username
{
    margin-left: 1rem;
    align-self: center;
    vertical-align: middle;
}

.user_info
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    border-left: 2px solid #ffab73;
    padding-left: 2rem;
}

.user_info > *
{
    margin-bottom: 1rem;
}

.bottom_row
{
    display: flex;
    flex-direction: column;
}

.favorites-container, .previous-container
{
    min-height: 450px;
    max-height: 450px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 2rem;
}

.previous-recipes-title, .favorite-recipes-title
{
    font-size: 2rem;
    margin-bottom: 1rem;
}