.recipe-details
{
    width:100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.recipe-details-left-panel
{
    width: 50%;
    height: 80%;
    display: flex;
    flex: 1 1 auto;
    min-width: 500px;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.recipe-details-left-panel img
{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 3px solid black;
    box-shadow: lightgray .5rem .5rem;
}


.recipe-details-right-panel
{
    width: 50%;
    height: 100%;
    flex: 1 1 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.recipe-details-right-panel h1
{
    font-size: 5rem;
    color: #FFAB73;
    font-family: Sacramento;
}

.recipe-details-right-panel .recipe-link
{
    margin-bottom: 1rem;
}

.recipe-details-right-panel .button-container
{
    display: inline-block;
    height: max-content;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recipe-details-right-panel .button-container i
{
    color: #FFAB73;
    font-size: 3rem;
    margin-left: 1rem;
    vertical-align: middle;
    text-align: center;
}

.recipe-details-right-panel .recipe-summary
{
    color: black;
    line-height: 2;
    max-height: 50%;
    overflow-y: scroll;
}

.recipe-details-right-panel .add-button
{
    width: 80%;
    margin-top: auto;
    border-radius: 12px;
    height: 3rem;
    margin-bottom: auto;
    vertical-align: middle;
}

.recipe-details input
{
    width: 100%;
}